:root {
  --background: #ebebeb;
  --foreground: #1d1d1d;

  --background-rgb: 235, 235, 235;
  --foreground-rgb: 29, 29, 29;

  --highlight: #ea2328;

  --font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201b1b;
    --foreground: #e0e0e0;

    --background-rgb: 32, 27, 27;
    --foreground-rgb: 224, 224, 224;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer fonts {
  @font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona-sans.woff2") format("woff2 supports variations"),
      url("../fonts/mona-sans.woff2") format("woff2 variations"),
      url("../fonts/mona-sans.ttf") format("truetype");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
}
